/* Reset default browser styles */
body, h1, h2, p, div, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Video container */
#videoPlayerContainer {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio (height:width) for responsive scaling */
    overflow: hidden;
}

/* Video player */
video {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust the object-fit property based on your preferences */
}

/* Additional styles for other elements if needed */
body {
    background-color: black;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#loadingBarContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1; /* Ensure the loading bar container appears behind the text container */
}

#loadingBar {
    /* Add your styles for the loading bar here */
}

#loadingTextContainer {
    position: absolute;
    top: 50%;
    left: 70%; /* Adjust the left property to move the entire text container more to the right */
    transform: translate(-50%, -50%);
    z-index: 3; /* Ensure the text container appears above the loading bar */
}

#loadingText {
    font-family: 'futura', sans-serif;
    font-weight: demi-bold;
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 70%; /* Center horizontally within the text container */
    transform: translateX(-50%) translateY(-50%);
    z-index: 3; /* Ensure the text appears above the loading bar */
}
