/* Reset default browser styles */
body, h1, h2, p, div, video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Video container */
#videoPlayerContainer {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio (height:width) for responsive scaling */
    overflow: hidden;
}

/* Video player */
video {
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust the object-fit property based on your preferences */
}

/* Additional styles for other elements if needed */
body {
    background-color: black;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

#loadingBar {
    /* Add your styles for the loading bar here */
    z-index: 1; /* Set a lower z-index value than the loading text */
}

#loadingText {
    font-family: 'manifesto', sans-serif;
    font-weight: 500;
    color: #ffffff;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 200%; /* Adjust this value to move the text horizontally */
    transform: translateY(-50%);
    z-index: 3; /* Ensure the text appears above the loading graphic */
}

#loadingTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the text appears above the loading graphic */
}
