/* Bootstrap grid system and utility classes */

/* Container for the entire content */
.container {
    padding: 0; /* Remove default Bootstrap padding */
}

/* Video container */
.video-container {
    position: relative;
    padding-top: 56.25%; /* 16:9 aspect ratio (height:width) for responsive scaling */
    overflow: hidden;
}

/* Video player */
.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Adjust the object-fit property based on your preferences */
}

/* Additional styles for other elements if needed */
body {
    background-color: black;
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
