/* CSS for gameCanvas and videoPlayer */
#gameCanvas {
    width: 100%;
    height: 540px; /* Adjust the height as needed */
    background-color: transparent; /* Set the canvas background color */
}

#videoPlayerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden; /* Ensure video content does not overflow the container */
}

#videoPlayer {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain; /* Adjust the object-fit property based on your preferences */
}

/* You can keep your existing styles for other elements */
html {
    font-size: 14px;
    background-color: black; /* Set the background color to black */
    margin-bottom: 60px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}
